.App {
  text-align: center;
}
body {
  padding: 32px;
}
header {
  margin-bottom: 32px;
  font-weight: bold;

  justify-content: space-between;
  display: flex;
}

/* Form  */
form {
  padding: 24px;
  background-color: #fff4e6;
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}
button {
  font-size: 14px;
}
textarea {
  flex: 1;
  height: 25px;
}

input,
textarea,
button {
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid #ffe8cc;
  font-family: inherit;
  color: inherit;
}

*:focus {
  outline: 2px solid #ffa94d;
  border-radius: 2px;
}
/* List  */
ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
}

li {
  border: 1px solid #ffe8cc;
  padding: 16px 20px;
}
li:hover {
  background-color: #fff4e6;
}

ul p {
  text-align: center;
}

li span {
  font-size: 12px;
  cursor: pointer;
}

/* checkbox */
